# Nuxt / build
.nuxt
.output
.data
dist
.nitro
.cache

# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
